In [1]:
import pandas as pd
import numpy as np
import re
import requests

In [2]:
### to see all columns
pd.set_option('display.max_columns', None)

In [3]:
### Read the csv file from ECOS
ecos_species = pd.read_csv("../data/FWS_Species_Data_Explorer.csv")
ecos_species.head()

,Common Name,Scientific Name,Scientific Name_url,Species Group,ESA Listing Status,ESA Listing Date,Entity Description,Foreign or Domestic,Image URL,Image URL_url,Range Envelope,State Abbreviation,State Name,Country Name,Food Habits,Habitat Requirements,Movement / Home Range,Other Information,Reproductive Strategy,Species Description
0,Abbott's booby,Papasula (=Sula) abbotti,https://ecos.fws.gov/ecp/species/1470,Birds,Endangered,06-14-1976,Wherever found,Foreign,/docs/species_images/doc1650.jpg,https://ecos.fws.gov/docs/species_images/doc16...,NaN,NaN,NaN,Christmas Island,NaN,NaN,NaN,NaN,NaN,NaN
1,Acklins ground iguana,Cyclura rileyi nuchalis,https://ecos.fws.gov/ecp/species/27,Reptiles,Threatened,06-22-1983,Wherever found,Foreign,/docs/species_images/doc1803.jpg,https://ecos.fws.gov/docs/species_images/doc18...,NaN,NaN,NaN,Bahamas,NaN,NaN,NaN,NaN,NaN,NaN
2,African elephant,Loxodonta africana,https://ecos.fws.gov/ecp/species/7724,Mammals,Threatened,06-11-1978,Wherever found,Foreign,/docs/species_images/doc1458.jpg,https://ecos.fws.gov/docs/species_images/doc14...,NaN,NaN,NaN,Sudan,NaN,NaN,NaN,NaN,NaN,NaN
3,African elephant,Loxodonta africana,https://ecos.fws.gov/ecp/species/7724,Mammals,Threatened,06-11-1978,Wherever found,Foreign,/docs/species_images/doc1458.jpg,https://ecos.fws.gov/docs/species_images/doc14...,NaN,NaN,NaN,Sierra Leone,NaN,NaN,NaN,NaN,NaN,NaN
4,African elephant,Loxodonta africana,https://ecos.fws.gov/ecp/species/7724,Mammals,Threatened,06-11-1978,Wherever found,Foreign,/docs/species_images/doc1458.jpg,https://ecos.fws.gov/docs/species_images/doc14...,NaN,NaN,NaN,Kenya,NaN,NaN,NaN,NaN,NaN,NaN

## I/ Explore the columns and drop some columns:

In [4]:
#ecos_species["Conservation Plan Type"].unique()

* Definition:\
HCP = Habitat conservation plans  
CCAA = Candidate Conservation Agreements with Assurances   
CCA = Candidate Conservation Agreements  
SHA = Safe Harbor Agreements

In [5]:
ecos_species["Species Group"].unique()

array(['Birds', 'Reptiles', 'Mammals', 'Amphibians', 'Flowering Plants',
       'Clams', 'Insects', 'Fishes', 'Crustaceans', 'Snails', 'Arachnids',
       'Ferns and Allies', 'Corals'], dtype=object)

In [6]:
ecos_species["Entity Description"].unique()

array(['Wherever found',
       'Wherever found; Except where listed as Experimental Populations',
       'U.S.A. (AL;The free-flowing reach of the Tennessee R. from the base of Wilson Dam downstream to the backwaters of Pickwick Reservoir [about 12 RM (19 km)] and the lower 5 RM [8 km] of all tributaries to this reach in Colbert and Lauderdale Cos., see 17.85(a))',
       'U.S.A. (LA, all counties; MS, TX, only within the historic county range of the Louisiana black bear)',
       'Wherever found, except where listed as an experimental population',
       'In southwestern Missouri, the counties of Cedar, St. Clair, Bates, and Vernon.',
       nan, 'U.S.A. (FL)', 'Wherever found, except in U.S.A. (FL)',
       'Upper Missouri River DPS', 'Kyrgyzstan, Mongolia, and Tajikistan',
       'Wherever found except Kyrgyzstan, Mongolia, and Tajikistan',
       'Kennebec River DPS', 'Gulf of Maine DPS - See 50 CFR 224.101',
       'U.S.A. ME Gulf of Maine Atlantic Salmon Distinct Population Segment, which includes all naturally reproducing wild populations and those river-specific hatchery populations of Atlantic salmon having historical, river-specific characteristics found north of and including tributaries of the lower Kennebec River to, but not including, the mouth of the St. Croix River at the U.S.-Canda border. To date, the Services have determined that these populations are found in the Dennys, East Machias, Machias, Pleasant, Narraguagus, Sheepscot, and Ducktrap Rivers and in Cove Brook, Maine',
       'Gulf of Maine DPS - See 50 CFR 223.102',
       'Carolina DPS - See 50 CFR 224.101',
       'South Atlantic DPS - See 50 CFR 224.101',
       'Chesapeake Bay DPS - See 50 CFR 224.101',
       'New York Bight DPS - See 50 CFR 224.101',
       'Southwest Distinct Population Segment',
       'U.S.A., conterminous (lower 48) States.',
       'Sonoran Desert DPS: Arizona: (1) Yavapai, northern Mexico.  Gila, Graham, Pinal, and Maricopa, Counties; and (2) Southern Mohave County (that portion south and east of the center of Interstate Highway 40 and east of Arizona Highway 95), eastern LaPaz County (that portion east of the centerline of U.S. and Arizona Highways 95), and north of the centerline of Interstate Highway 8).',
       'USA (HI)', 'Okhotsk DPS - See 50 CFR 223.102',
       'Beringia DPS - See 50 CFR 223.102',
       'U.S.A. (WY and specified portions of AZ, CO, MT, SD, and UT, see 17.84(g)(9))',
       'Sub-Saharan Africa', 'Wherever found, except GA, NC, SC, TN, VA',
       'U.S.A. (GA, NC, SC, TN, VA)', 'Argentina DPS',
       'Bolivia, Brazil, Paraguay, and Uruguay', 'Italy',
       'Wherever found, except U.S. Atlantic coast, FL, AL',
       'U.S. Atlantic coast, FL, AL',
       'U.S.A., conterminous, (lower 48 states)',
       'Clackamas River subbasin and the mainstem Willamette River, from Willamette Falls to its points of confluence with the Columbia River, including Multnomah Channel',
       'U.S.A. (Oregon, and specific portions of northern California and northwest Nevada)',
       'U.S.A. only, except where listed as an experimental population',
       'U.S.A. (specific portions of Arizona, Nevada, and Utah)-see 17.84(j)',
       'U.S.A. (CA - Central California)',
       'U.S.A. (CA - Santa Barbara County)',
       'U.S.A. (CA - Sonoma County)', 'Wherever Found in Contiguous U.S.',
       'California Coastal ESU - See 50 CFR 223.102',
       'Snake River spring/summer-run ESU See 50 CFR 223.102',
       'Sacramento River winter-run ESU - See 50 CFR 224.101',
       'Central Valley spring-run ESU XN - See 50 CFR 223.102',
       'Upper Columbia River spring-run ESU See 50 CFR 224.101',
       'Upper Willamette River ESU See 50 CFR 223.102',
       'Lower Columbia River ESU See 50 CFR 223.102',
       'Snake River fall-run ESU See 50 CFR 223.102',
       'Puget Sound ESU See 50 CFR 223.102',
       'Central Valley spring-run ESU See 50 CFR 223.102',
       'Hood Canal summer-run ESU - See 50 CFR 223.102',
       'Columbia River ESU See 50 CFR 223.102',
       'Lower Columbia River ESU - See 50 CFR 223.102',
       'Central California Coast ESU - See 50 CFR 224.101',
       'Oregon Coast ESU - See 50 CFR 223.102',
       'Southern Oregon - Northern California Coast ESU - See 50 CFR 223.102',
       'Salt and Verde R. drainages, AZ',
       'U.S.A. (WA-Douglas, Grant, Lincoln, Adams, Benton Counties)',
       'Columbia River (Clark, Cowliz, Pacific, Skamania, and Wahkiakum Counties, WA., and Clatsop, Columbia, and Multnomah Counties, OR.)',
       'Douglas County, Oregon', 'main pop.', 'Great Basin DPS',
       'Indiana north of 40 degrees north latitude, Michigan, Ohio',
       'Cuba (excludes U.S. Puerto Rico population)',
       'U.S.A. (TN - specified portions of the French Broad and Holston Rivers; see 17.85(b)(1))',
       'U.S.A. (DE, Sussex Co.)',
       'Wherever found, except AZ south and east of Colorado R., and Mexico',
       'AZ south and east of Colorado R., and Mexico, when found outside of Mexico or said range in AZ',
       'Missouri DPS',
       'Northern California/Southern Oregon Distinct Population Segment',
       'West Coast Distinct Population Segment',
       'Northern Rocky Mountains DPS',
       'Southern Sierra Nevada Distinct Population Segment',
       'Great Lakes',
       'Black Warrior R. system upstream from Bankhead Dam',
       'South America', 'Utah DPS',
       'Wherever found west of Mobile and Tombigbee Rivers in AL, MS, and LA',
       'U.S.A. (Florida)', 'eastern',
       'Northern Rocky Mountain Distinct Population Segment: Montana, Idaho, Wyoming, eastern Washington, eastern Oregon, and north central Utah',
       'U.S.A. (MN)',
       'U.S.A.: All of AL, AR, CA, CO, CT, DE, FL, GA, IA, IN, IL, KS, KY, LA, MA, MD, ME, MI, MO, MS, NC, ND, NE, NH, NJ, NV, NY, OH, OK, PA, RI, SC, SD, TN, TX, VA, VT, WI, and WV; and portions of AZ, NM, OR, UT, and WA as follows: (1) Northern AZ (that portion north of the centerline of Interstate Highway 40); (2) Northern NM (that portion north of the centerline of Interstate Highway 40); (3) Western OR (that portion of OR west of the centerline of Highway 395 and Highway 78 north of Burns Junction and that portion of OR west of the centerline of Highway 95 south of Burns Junction); (4) Most of Utah (that portion of UT south and west of the centerline of Highway 84 and that portion of UT south of Highway 80 from Echo to the UT/WY Stateline); and (5) Western WA (that portion of WA west of the centerline of Highway 97 and Highway 17 north of Mesa and that portion of WA west of the centerline of Highway 395 south of Mesa). Mexico.',
       'Western Great Lakes Distinct Population Segment: Minnesota, Wisconsin, and Michigan; the eastern half of North Dakota and South Dakota; the northern half of Iowa; the northern portions of Illinois and Indiana; and the northwestern portion of Ohio.',
       'Columbia basin DPS, WA', 'Bi-State', 'Western subspecies',
       'Nepal, India',
       'Green sea turtles originating from the Central West Pacific Ocean, bounded by the following coordinates: 41 degrees N., 146 degrees E. in the northwest; 41 degrees N., 169 degrees E. in the northeast; 9 degrees N., 175 degrees W. in the east; 13 degrees S., 171 degrees E. in the southeast; along the northern coast of the island of New Guinea; and 4.5 degrees N., 129 degrees E. in the west',
       'Green sea turtles originating from the North Atlantic Ocean, bounded by the following lines and coordinates: 48 degrees N. Lat. in the north, along the western coasts of Europe and Africa (west of 5.5 degrees W. Long.); north of 19 degrees N. Lat. in the east; bounded by 19 degrees N., 65.1 degrees W. to 14 degrees N., 65.1 degrees W. then 14 degrees N., 77 degrees W. in the south and west; and along the eastern coasts of the Americas (north of 7.5 degrees N., 77 degrees W.)',
       'Green sea turtles originating from the Central South Pacific Ocean, bounded by the following coordinates: 9 degrees N., 175 degrees W. in the northwest; 9 degrees N., 125 degrees W. in the northeast; 40 degrees S., 96 degrees W. in the southeast; 40 degrees S., 176 degrees E. in the southwest; and 13 degrees S., 171 degrees E. in the west',
       'Green sea turtles originating from the North Indian Ocean, bounded by: Africa and Asia in the west and north; 84 degrees E. Long. in the east; and the equator in the south',
       'Green sea turtles originating from the Mediterranean Sea, bounded by 5.5 degrees W. Long. in the west',
       'Green sea turtles originating from the East Pacific Ocean, bounded by the following lines and coordinates: 41 degrees N., 143 degrees W. in the northwest; 41 degrees N. Lat. in the north; along the western coasts of the Americas; 40 degrees S. Lat. in the south; and 40 degrees S., 96 degrees W. in the southwest',
       'Green sea turtles originating from the Southwest Pacific Ocean, bounded by the following lines and coordinates: along the southern coast of the island of New Guinea and the Torres Strait (east of 142 degrees E Long.); 13 degrees S., 171 degrees E. in the northeast; 40 degrees S., 176 degrees E. in the southeast; and 40 degrees S., 142 degrees E. in the southwest',
       'Green sea turtles originating from the South Atlantic Ocean, bounded by the following lines and coordinates: along the northern and eastern coasts of South America (east of 7.5 degrees N., 77 degrees W.); 14 degrees N., 77 degrees W. to 14 degrees N., 65.1 degrees W. to 19 degrees N., 65.1 degrees W. in the north and west; 19 degrees N. Lat. in the northeast; 40 degrees S., 19 degrees E. in the southeast; and 40 degrees S. Lat. in the south',
       'Green sea turtles originating from the Central North Pacific Ocean, bounded by the following coordinates: 41 degrees N., 169 degrees E. in the northwest; 41 degrees N., 143 degrees W. in the northeast; 9 degrees N., 125 degrees W. in the southeast; and 9 degrees N., 175 degrees W. in the southwest Pacific coast of Mexico',
       'Green sea turtles originating from the Eastern Indian and Western Pacific Oceans, bounded by the following lines and coordinates: 41 degrees N. Lat. in the north, 41 degrees N., 146 degrees E. in the northeast; 4.5 degrees N., 129 degrees E. in the southeast; along the southern coast of the island of New Guinea; along the western coast of Australia (west of 142 degrees E. Long.); 40 degrees S. Lat. in the south; and 84 degrees E. Long. in the east',
       'Green sea turtles originating from the Southwest Indian Ocean, bounded by the following lines: the equator to the north; 84 degrees E. Long. to the east; 40 degrees S. Lat. to the south; and 19 degrees E. Long (and along the eastern coast of Africa) in the west',
       'Southern DPS - See 50 CFR 223.102',
       'U.S.A., conterminous (lower 48) States, except where listed as an experimental population',
       'Northern Illinois (Winnebago County) and Southern Wisconsin (Columbia, Iowa, Richland and Rock Counties)',
       'Central America DPS', 'Oceania DPS', 'Arabian Sea DPS',
       'East Australia DPS', 'Brazil DPS', 'West Australia DPS',
       'Southeast Africa/Madagascar DPS', 'Mexico DPS', 'West Indies DPS',
       'Western North Pacific', 'Hawaii DPS',
       'Cape Verde Island/Northwest Africa', 'Southeastern Pacific DPS',
       'Gabon/Southwest Africa DPS',
       'Sikkim, Thailand, Malaysia, Indonesia, Indochina, Burma, Bangladesh',
       'Southern Resident DPS See 50 CFR 224.101', 'Australia',
       'Lake Erie offshore islands and their adjacent waters (located more than 1 mile from mainland)_U.S.A. (OH), Canada (Ont.)',
       'Atlantic',
       'U.S.A. (AR, CO, IA, IL, IN, KS, KY, LA_Miss. R. and tribs. N of Baton Rouge, MS_Miss. R., MO, MT, ND, NE, NM, OK, SD, TN, TX_except within 50 miles of coast)',
       'Wherever found, except where it is listed as Threatened',
       'In Africa, in the wild, south of, and including, the following countries: Gabon, Congo, Zaire, Uganda, Kenya',
       'Northwest Atlantic Ocean DPS - Loggerhead sea turtles originating from the Northwest Atlantic Ocean west of 40 degrees W. Long',
       'Loggerhead sea turtles originating from the Southwest Indian Ocean north of the equator, south of 30 degrees N. Lat., east of 20 degrees E. Long., and west of 80 degrees E. Long.',
       'Northeast Atlantic Ocean DPS - Loggerhead sea turtles originating from the Northeast Atlantic Ocean north of the equator, south of 60 degrees N. Lat., and east of 40 degrees W. Long., except in the vicinity of the Strait of Gibraltar where the eastern boundary is 5 degrees 36 minutes W. Long',
       'North Pacific Ocean DPS - Loggerhead sea turtles originating from the North Pacific north of the equator and south of 60 degrees N. Lat',
       'North Indian Ocean DPS - Loggerhead sea turtles originating from the North Indian Ocean north of the equator and south of 30? N. Lat',
       'Loggerhead sea turtles originating from the Southeast Indian Ocean south of the equator, north of 60 degrees S. Lat., and east of 80 degrees E. Long.; South Pacific Ocean south of the equator, north of 60degrees S. Lat., and west of 141 degrees E. Long',
       'Loggerhead sea turtles originating from the South Atlantic Ocean south of the equator, north of 60 degrees S. Lat., west of 20 degrees E. Long., and east of 67 degrees W. Long',
       'Loggerhead sea turtles originating from the South Pacific south of the equator, north of 60 degrees S. Lat., west of 67 degrees W. Long., and east of 141 degrees E. Long.',
       'Mediterranean Sea DPS - Loggerhead sea turtles originating from the Mediterranean Sea east of 5 degrees 36 minues W. Long.',
       'Entire, except U.S.A. (CA, OR, WA)', 'U.S.A. (CA, OR, WA)',
       'U.S. only',
       'Wherever found, except where included in an experimental population as set forth in 17.84(k)',
       'U.S.A. (portions of AZ and NM)see 17.84(k)',
       'Amargosa River population', 'Mongolia',
       'U.S.A., northern California', 'U.S.A., southern California',
       'Afghanistan, Bhutan, Burma, China (Tibet, Yunnan), India, Nepal, Pakistan, Sikkim',
       'Nonessential Experimental Population of the North American Wolverine in Colorado, Wyoming, and New Mexico',
       'U.S.A (AZ, NM)', 'Canada', 'wherever found',
       'Wherever found, except when listed as endangered under 50 CFR 224.101',
       'Breeding colony populations on Pacific coast of Mexico',
       'U.S.A. (CA) Peninsular Ranges', 'Mexico (Baja California)',
       '[Atlantic Coast and Northern Great Plains populations] - Wherever found, except those areas where listed as endangered.',
       '[Great Lakes watershed DPS] - Great Lakes, watershed in States of IL, IN, MI, MN, NY, OH, PA, and WI and Canada (Ont.)',
       'British Columbia, Canada',
       'U.S.A. (portions of NC and TN see  17.84(c)(9))',
       'Rio Grande, from Little Box Canyon (approximately 10.4 river miles downstream of Fort Quitman, TX) to Amistad Dam; and on the Pecos River, from its confluence with Independence Creek to its confluence with the Rio Grande',
       'U.S.A. (Atlantic Coast south to NC), Canada (Newf., N.S, Que.), Bermuda',
       'Western Hemisphere and adjacent oceans, incl. U.S.A. (FL, PR, VI), where not listed as endangered',
       'Puerto Rico',
       'Wherever found, except Papua New Guinea and Australia',
       'Los Angeles River basin, San Gabriel River basin, Santa Ana River basin',
       'Florida population', 'U.S.A. (CA) Sierra Nevada',
       'U.S.A. (TN - specified portions of the French Broad and Holston  Rivers; see 17.84(s)(1)(i))',
       'US DPS - Smalltooth sawfish originating from U.S. waters.',
       'Non-US DPS - Smalltooth sawfish originating from non-US waters',
       'Ozette Lake ESU - See 50 CFR 223.102',
       'Lake Sammamish and Lake Washington',
       'Snake River ESU - See 50 CFR 224.101',
       'In Arizona, an area north of Interstate 8 and south of Interstate 10, bounded by the Colorado River on the west and Interstate 10 on the east; and an area south of Interstate 8, bounded by Highway 85 on the west, Interstates 10 and 19 on the east, and the U.S.-Mexico border on the south',
       'Lower Columbia River DPS - See 50 CFR 223.102',
       'South-Central California Coast DPS - See 50 CFR 223.102',
       'Central California Coast DPS - See 50 CFR 223.102',
       'Middle Columbia River DPS - XN - See 50 CFR 223.102',
       'Klamath Mountains Province steelhead(Oncorhynchus mykiss).Includes all Naturally spawned populations of Steelhead (and their progeny) in coastal river basins ranging from the Elk River in Curry County, Oregon, to the Klamath River, inclusive, in Del Norte County, California',
       'Puget Sound DPS - See 50 CFR 223.102',
       'Northern California DPS - See 50 CFR 223.102',
       'Snake River Basin DPS - See 50 CFR 223.102',
       'Southern California DPS - See 50 CFR 224.101',
       'Middle Columbia River DPS - See 50 CFR 223.102',
       'Upper Willamette River DPS - See 50 CFR 223.102',
       'California Central Valley DPS - See 50 CFR 223.102',
       'Upper Columbia River DPS - See 50 CFR 223.102',
       'Western DPS - See 50 CFR 224.101',
       'Eastern DPS - Entire, except the population segment west of 1440 W. Long',
       'U.S. Alaska breeding population only',
       'U.S.A. (MO-specified portions of Little Creek, Big Muddy Creek, and Spring Creek watersheds in Adair, Gentry, Harrison, Putnam, Sullivan, and Worth Counties; see 17.84(d)(1)(i))',
       'Greater Yellowstone (Tri-state) breeding pop (DPS)',
       'Rocky Mountain Population', 'Ecuador (DPS)',
       'Entire, except Ecuador', 'Mexico',
       'Pacific Coast population DPS-U.S.A. (CA, OR, WA), Mexico (within 50 miles of Pacific coast)',
       'U.S.A. (ID, MT), Canada (B.C.), (Kootenai R. system)',
       'U.S.A. (AL, AR, CO, FL, GA, ID, IL, IN, IA, KY, LA, MI, MN, MS, MO, NC, NM, OH, SC, TN, UT, VA, WI, WV, western half of WY)',
       'U.S.A (Southwestern Louisiana)',
       'U.S.A. (CO, ID, FL, NM, UT, and the western  half of Wyoming)',
       'U.S.A. (AL-specified portions of the Tennessee River; see 17.85(a)(1))',
       'U.S.A. (wherever found), Canada (southeastern British Columbia)',
       'U.S.A. (AL, FL, GA, MS, NC, SC)', 'Gila R. drainage, AZ, NM',
       'Western DPS: U.S.A. (AZ, CA, CO (western), ID, MT (western), NM (western), NV, OR, TX (western), UT, WA, WY (western)); Canada (British Columbia (southwestern); Mexico (Baja California, Baja California Sur, Chihuahua, Durango (western), Sinaloa, Sonora)'],
      dtype=object)

In [7]:
### drop columns
ecos_species = ecos_species.drop(["Scientific Name_url", "ESA Listing Date", "Entity Description", "Image URL"], axis = 1)

In [8]:
ecos_species.shape

(9390, 16)

In [9]:
### In case if there is duplicates that need to be dropped
ecos_species = ecos_species.drop_duplicates()

In [10]:
ecos_species.shape

(9337, 16)

In [11]:
# Rename column other information to threat comments
ecos_species.rename(columns = {'Other Information':'Threat Comments'}, inplace = True)

## II/ Filter rows:

### 1- Filter species status according to ESA (Endangered Species Act):

In [12]:
ecos_species["ESA Listing Status"].unique()

array(['Endangered', 'Threatened',
       'Experimental Population, Non-Essential', 'Recovery',
       'Species of Concern', 'Similarity of Appearance (Threatened)',
       'Resolved Taxon', 'Proposed Threatened', 'Under Review',
       'Proposed Experimental Population, Non-Essential', 'Extinction',
       'Status Undefined',
       'Original Data in Error - New Information Discovered',
       'Proposed Similarity of Appearance (Threatened)',
       'Proposed Endangered', 'Candidate',
       'Original Data in Error - Taxonomic Revision'], dtype=object)

In [13]:
### I only want endangered, threatened, etc.
ecos_end_species = ecos_species[ecos_species["ESA Listing Status"].isin(["Threatened", "Species of Concern", "Endangered", "Similarity of Appearance (Threatened)", "Extinction", "Proposed Threatened", "Proposed Endangered", "Proposed Similarity of Appearance (Threatened)"])]

In [14]:
ecos_end_species["ESA Listing Status"].unique()

array(['Endangered', 'Threatened', 'Species of Concern',
       'Similarity of Appearance (Threatened)', 'Proposed Threatened',
       'Extinction', 'Proposed Similarity of Appearance (Threatened)',
       'Proposed Endangered'], dtype=object)

In [15]:
### For simplicity change "proposed... etc."" for threatened or endangered
ecos_end_species["ESA Listing Status"] = ecos_end_species["ESA Listing Status"].replace("Similarity of Appearance (Threatened)", "Threatened")
ecos_end_species["ESA Listing Status"] = ecos_end_species["ESA Listing Status"].replace("Proposed Threatened", "Threatened")
ecos_end_species["ESA Listing Status"] = ecos_end_species["ESA Listing Status"].replace("Proposed Similarity of Appearance (Threatened)", "Threatened")
ecos_end_species["ESA Listing Status"] = ecos_end_species["ESA Listing Status"].replace("Proposed Endangered", "Endangered")

/Users/armelleleguelte/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/Users/armelleleguelte/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/Users/armelleleguelte/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/Users/armelleleguelte/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [16]:
ecos_end_species["ESA Listing Status"].unique()

array(['Endangered', 'Threatened', 'Species of Concern', 'Extinction'],
      dtype=object)

### 2- Fix NaN and \r\n:

In [17]:
### Fix "\r\n" in column "Movement..." with "No info available" 
dict = {'\r\n':"No information available"}
ecos_end_species = ecos_end_species.replace(dict)

In [18]:
### Fix NaN values in columns with NaN in it with "No info available" 
ecos_end_species['Food Habits'] = ecos_end_species['Food Habits'].fillna("No information available")
ecos_end_species['Habitat Requirements'] = ecos_end_species['Habitat Requirements'].fillna("No information available")
ecos_end_species['Movement / Home Range'] = ecos_end_species['Movement / Home Range'].fillna("No information available")
ecos_end_species['Threat Comments'] = ecos_end_species['Threat Comments'].fillna("No information available")
ecos_end_species['Reproductive Strategy'] = ecos_end_species['Reproductive Strategy'].fillna("No information available")
ecos_end_species['Species Description'] = ecos_end_species['Species Description'].fillna("No information available")

In [19]:
ecos_end_species.head(10)

,Common Name,Scientific Name,Species Group,ESA Listing Status,Foreign or Domestic,Image URL_url,Range Envelope,State Abbreviation,State Name,Country Name,Food Habits,Habitat Requirements,Movement / Home Range,Threat Comments,Reproductive Strategy,Species Description
0,Abbott's booby,Papasula (=Sula) abbotti,Birds,Endangered,Foreign,https://ecos.fws.gov/docs/species_images/doc16...,NaN,NaN,NaN,Christmas Island,No information available,No information available,No information available,No information available,No information available,No information available
1,Acklins ground iguana,Cyclura rileyi nuchalis,Reptiles,Threatened,Foreign,https://ecos.fws.gov/docs/species_images/doc18...,NaN,NaN,NaN,Bahamas,No information available,No information available,No information available,No information available,No information available,No information available
2,African elephant,Loxodonta africana,Mammals,Threatened,Foreign,https://ecos.fws.gov/docs/species_images/doc14...,NaN,NaN,NaN,Sudan,No information available,No information available,No information available,No information available,No information available,No information available
3,African elephant,Loxodonta africana,Mammals,Threatened,Foreign,https://ecos.fws.gov/docs/species_images/doc14...,NaN,NaN,NaN,Sierra Leone,No information available,No information available,No information available,No information available,No information available,No information available
4,African elephant,Loxodonta africana,Mammals,Threatened,Foreign,https://ecos.fws.gov/docs/species_images/doc14...,NaN,NaN,NaN,Kenya,No information available,No information available,No information available,No information available,No information available,No information available
5,African elephant,Loxodonta africana,Mammals,Threatened,Foreign,https://ecos.fws.gov/docs/species_images/doc14...,NaN,NaN,NaN,Congo (Zaire),No information available,No information available,No information available,No information available,No information available,No information available
6,African elephant,Loxodonta africana,Mammals,Threatened,Foreign,https://ecos.fws.gov/docs/species_images/doc14...,NaN,NaN,NaN,Cameroon,No information available,No information available,No information available,No information available,No information available,No information available
7,African elephant,Loxodonta africana,Mammals,Threatened,Foreign,https://ecos.fws.gov/docs/species_images/doc14...,NaN,NaN,NaN,Uganda,No information available,No information available,No information available,No information available,No information available,No information available
8,African elephant,Loxodonta africana,Mammals,Threatened,Foreign,https://ecos.fws.gov/docs/species_images/doc14...,NaN,NaN,NaN,Central African Republic,No information available,No information available,No information available,No information available,No information available,No information available
9,African elephant,Loxodonta africana,Mammals,Threatened,Foreign,https://ecos.fws.gov/docs/species_images/doc14...,NaN,NaN,NaN,Nigeria,No information available,No information available,No information available,No information available,No information available,No information available

### 3- Fix html tags "< i>" and "< /i>":

In [20]:
### Make a function to get ride of html tags <i> </i>
def striphtml(data):
    p = re.compile(r'<.*?>')
    return p.sub('', data)

In [21]:
### Apply the function in columns with the html tags
ecos_end_species["Species Description"] = ecos_end_species["Species Description"].apply(striphtml)
ecos_end_species["Threat Comments"] = ecos_end_species["Threat Comments"].apply(striphtml)

In [22]:
ecos_end_species.head(10)

,Common Name,Scientific Name,Species Group,ESA Listing Status,Foreign or Domestic,Image URL_url,Range Envelope,State Abbreviation,State Name,Country Name,Food Habits,Habitat Requirements,Movement / Home Range,Threat Comments,Reproductive Strategy,Species Description
0,Abbott's booby,Papasula (=Sula) abbotti,Birds,Endangered,Foreign,https://ecos.fws.gov/docs/species_images/doc16...,NaN,NaN,NaN,Christmas Island,No information available,No information available,No information available,No information available,No information available,No information available
1,Acklins ground iguana,Cyclura rileyi nuchalis,Reptiles,Threatened,Foreign,https://ecos.fws.gov/docs/species_images/doc18...,NaN,NaN,NaN,Bahamas,No information available,No information available,No information available,No information available,No information available,No information available
2,African elephant,Loxodonta africana,Mammals,Threatened,Foreign,https://ecos.fws.gov/docs/species_images/doc14...,NaN,NaN,NaN,Sudan,No information available,No information available,No information available,No information available,No information available,No information available
3,African elephant,Loxodonta africana,Mammals,Threatened,Foreign,https://ecos.fws.gov/docs/species_images/doc14...,NaN,NaN,NaN,Sierra Leone,No information available,No information available,No information available,No information available,No information available,No information available
4,African elephant,Loxodonta africana,Mammals,Threatened,Foreign,https://ecos.fws.gov/docs/species_images/doc14...,NaN,NaN,NaN,Kenya,No information available,No information available,No information available,No information available,No information available,No information available
5,African elephant,Loxodonta africana,Mammals,Threatened,Foreign,https://ecos.fws.gov/docs/species_images/doc14...,NaN,NaN,NaN,Congo (Zaire),No information available,No information available,No information available,No information available,No information available,No information available
6,African elephant,Loxodonta africana,Mammals,Threatened,Foreign,https://ecos.fws.gov/docs/species_images/doc14...,NaN,NaN,NaN,Cameroon,No information available,No information available,No information available,No information available,No information available,No information available
7,African elephant,Loxodonta africana,Mammals,Threatened,Foreign,https://ecos.fws.gov/docs/species_images/doc14...,NaN,NaN,NaN,Uganda,No information available,No information available,No information available,No information available,No information available,No information available
8,African elephant,Loxodonta africana,Mammals,Threatened,Foreign,https://ecos.fws.gov/docs/species_images/doc14...,NaN,NaN,NaN,Central African Republic,No information available,No information available,No information available,No information available,No information available,No information available
9,African elephant,Loxodonta africana,Mammals,Threatened,Foreign,https://ecos.fws.gov/docs/species_images/doc14...,NaN,NaN,NaN,Nigeria,No information available,No information available,No information available,No information available,No information available,No information available

### 4- Fix column names:

In [23]:
ecos_end_species.rename(columns = {"Common Name":"common_name", 'Scientific Name':'scientific_name', "Species Group": "species_group", "ESA Listing Status": "esa_status", "Foreign or Domestic": "foreign_or_domestic", "Image URL_url":"image_url_full", "Range Envelope": "location", "State Abbreviation": "state_abbr", "State Name": "state", "Country Name":"country", "Food Habits": "food", "Habitat Requirements": "habitat_requirements", "Movement / Home Range": "home_range", "Threat Comments": "cause", "Reproductive Strategy": "reproduction", "Species Description": "description" }, inplace = True)
ecos_end_species.head(2)

,common_name,scientific_name,species_group,esa_status,foreign_or_domestic,image_url_full,location,state_abbr,state,country,food,habitat_requirements,home_range,cause,reproduction,description
0,Abbott's booby,Papasula (=Sula) abbotti,Birds,Endangered,Foreign,https://ecos.fws.gov/docs/species_images/doc16...,NaN,NaN,NaN,Christmas Island,No information available,No information available,No information available,No information available,No information available,No information available
1,Acklins ground iguana,Cyclura rileyi nuchalis,Reptiles,Threatened,Foreign,https://ecos.fws.gov/docs/species_images/doc18...,NaN,NaN,NaN,Bahamas,No information available,No information available,No information available,No information available,No information available,No information available

### 5- Make a dataframe with all countries and remove the states (since info only for USA):

In [24]:
### Drop states in the df 
ecos_end_species_countries = ecos_end_species.drop(["state_abbr", "state"], axis = 1)

In [25]:
ecos_end_species_countries.shape

(8093, 14)

In [26]:
### Drop duplicates
ecos_end_species_countries = ecos_end_species_countries.drop_duplicates()

In [27]:
ecos_end_species_countries.shape

(1723, 14)

### 6- Make a dataframe with only Canada and USA (these are the countries with the majority of information):

In [28]:
ecos_end_species["country"].unique()

array(['Christmas Island', 'Bahamas', 'Sudan', 'Sierra Leone', 'Kenya',
       'Congo (Zaire)', 'Cameroon', 'Uganda', 'Central African Republic',
       'Nigeria', 'Chad', 'Burkina Faso', 'Togo', 'Niger', 'Gabon',
       'Senegal', 'Tanzania', 'Mauritania', 'Ivory Coast', 'Benin',
       'Congo', 'Liberia', 'Ghana', 'Mali', 'Guinea', 'Burundi', nan,
       'Ethiopia', 'United States', 'Canada', 'Colombia', 'Haiti',
       'Guatemala', 'Mexico', 'El Salvador', 'Peru', 'Ecuador',
       'Costa Rica', 'Honduras', 'Jamaica', 'Belize',
       'Dominican Republic', 'Venezuela', 'Nicaragua', 'Cuba',
       'French Southern Territories', 'Argentina', 'Chile',
       'British Virgin Islands', 'Madagascar', 'Italy', 'Israel', 'Egypt',
       'Saudi Arabia', 'Jordan', 'Oman', 'Mongolia', 'Tajikistan',
       'Russia', 'Afghanistan', 'Kazakstan', 'Uzbekistan', 'India',
       'Pakistan', 'China', 'Kyrgyzstan', 'Nepal', 'Aruba', 'Vietnam',
       'Thailand', 'Myanmar (Burma)', 'Indonesia', 'Cambodia', 'Laos',
       'Malaysia', 'Portugal', 'Cayman Islands', 'Barbados',
       'Puerto Rico', 'Namibia', 'Angola', 'Australia', 'New Zealand',
       'Spain', 'Bangladesh', 'North Korea', 'South Korea', 'Taiwan',
       'Panama', 'Mozambique', 'Tonga', 'Fiji', 'South Africa', 'Brazil',
       'Bhutan', 'Equatorial Guinea', 'Sri Lanka',
       'Federated States of Micronesia', 'Tokelau', 'French Polynesia',
       'Tuvalu', 'Kiribati', 'Cook Islands', 'Marshall Islands',
       'Papua New Guinea', 'Solomon Islands', 'U.S. Virgin Islands',
       'Maldives', 'Guadeloupe', 'Netherlands Antilles', 'Qatar', 'Guam',
       'Eritrea', 'Somalia', 'Vanuatu', 'Palau', 'Bahrain', 'Grenada',
       'Antigua and Barbuda', 'Comoros', 'American Samoa', 'Seychelles',
       'Kuwait', 'U.S. Pacific Outlying Islands',
       'Northern Mariana Islands', 'Saint Kitts and Nevis', 'Japan',
       'Trinidad and Tobago', 'Reunion', 'Nauru', 'Sao Tome and Principe',
       'British Indian Ocean Territory', 'Yemen', 'United Arab Emirates',
       'Mayotte', 'Mauritius', 'Philippines', 'Iran', 'Martinique',
       'Dominica', 'Iraq', 'New Caledonia', 'Guyana',
       'Turks and Caicos Islands', 'Saint Vincent and the Grenadines',
       'Suriname', 'Saint Lucia', 'Albania', 'Montserrat',
       'French Guiana', 'Uruguay', 'Bolivia', 'Paraguay',
       'Norfolk Island', 'Cape Verde', 'Morocco', 'Guinea-Bissau',
       'Gambia', 'Brunei', 'Norway', 'Denmark', 'Bermuda', 'Finland',
       'Algeria', 'Libya', 'Cyprus'], dtype=object)

In [29]:
### Looks like I have most information for US and maybe canada Canada ( as well as for NatureServe explorer if I use it at some point) 
ecos_end_species_us_ca = ecos_end_species[ecos_end_species["country"].isin(["United States", "Canada"])]

In [30]:
ecos_end_species_us_ca["country"].unique()

array(['United States', 'Canada'], dtype=object)

In [31]:
ecos_end_species_us_ca.shape

(1883, 16)

In [32]:
### Drop states in the df 
ecos_end_species_us_ca = ecos_end_species_us_ca.drop(["state_abbr", "state"], axis = 1)

In [33]:
### Drop duplicates
ecos_end_species_us_ca = ecos_end_species_us_ca.drop_duplicates()

In [34]:
ecos_end_species_us_ca.shape

(571, 14)

In [35]:
# If I want to keep only animals and drop plants but so far I will keep them all
#ecos_end_animal_species = ecos_end_species.loc[(ecos_end_species["Species Group"] != "Flowering Plants") & (ecos_end_species["Species Group"] != "Ferns and Allies")]

### 7- Make a dataframe with only USA (only country with states info):

In [36]:
ecos_end_species_us = ecos_end_species[ecos_end_species["country"].isin(["United States"])]

In [37]:
ecos_end_species_us.shape

(1581, 16)

In [38]:
### Drop duplicates
ecos_end_species_us = ecos_end_species_us.drop_duplicates()

In [39]:
ecos_end_species_us.shape

(1581, 16)

### 8- Make a dataframe with only states to avoid duplicates for USA dataframe:

In [40]:
### new df with only the states
ecos_states_us = ecos_end_species_us.loc[:, ["common_name", "scientific_name", "species_group", "esa_status", "foreign_or_domestic", "state", "state_abbr", "country" ]]

In [41]:
ecos_states_us.shape

(1581, 8)

In [42]:
ecos_states_us.head(2)

,common_name,scientific_name,species_group,esa_status,foreign_or_domestic,state,state_abbr,country
34,Akekee,Loxops caeruleirostris,Birds,Endangered,Domestic,Hawaii,HI,United States
35,Akikiki,Oreomystis bairdi,Birds,Endangered,Domestic,Hawaii,HI,United States

In [43]:
### Drop duplicates
ecos_states_us = ecos_states_us.drop_duplicates()

In [44]:
ecos_states_us.shape

(1276, 8)

In [ ]:
### Drop states in the df with animal information
ecos_end_species_us = ecos_end_species_us.drop(["state", "state_abbr"], axis = 1)

In [ ]:
### Drop duplicates
ecos_end_species_us = ecos_end_species_us.drop_duplicates()

In [ ]:
ecos_end_species_us.shape

In [ ]:
ecos_end_species_us.head(10)

### 9- Make a dataframe with all countries for treemap but drop pictures and location:

In [ ]:
ecos_end_species_countries.head(2)

In [ ]:
### make a new df for treemap purpose
ecos_end_species_treemap = ecos_end_species_countries.loc[:, ["common_name", "scientific_name", "species_group", "esa_status", "foreign_or_domestic", "country"]]
ecos_end_species_treemap.head(2)

In [ ]:
ecos_end_species_treemap.shape

In [ ]:
### Drop duplicates
ecos_end_species_treemap = ecos_end_species_treemap.drop_duplicates()

In [ ]:
ecos_end_species_treemap.shape

### 10- Look if there is any data missing:

In [ ]:
### function to ask if some values are missing... if it's True, yes there is missing information
ecos_end_species_us_ca.isnull().values.any()

In [ ]:
### To know how many values are missing
ecos_end_species_us_ca.isnull().sum().sum()

In [ ]:
### Use describe to localize in which column the data is missing
ecos_end_species_us_ca.describe()

There are 6 values missing in the column "location"... will drop NA polygones in the midstone_cleaning_03.

In [ ]:
### Df USA
ecos_end_species_us.describe()

Only one polygon data missing in the dataframe with only USA

In [ ]:
### Df all countries
ecos_end_species_countries.describe()

Some countries are missing and a lot of polygon data as expected unfortunately...

In [ ]:
###drop NA values in column country 
ecos_end_species_countries = ecos_end_species_countries[ecos_end_species_countries["country"].notnull()]

In [ ]:
ecos_end_species_countries.describe()

### 11- images duplicate ( some images are for the same species but have a different image number and sometimes the image is absent):

### Dataframe US and Canada

In [ ]:
ecos_end_species_us_ca.shape

In [ ]:
### NB: there is only 434 unique scientific name which mean there is still some duplicates... comes from the images files!
ecos_end_species_us_ca["scientific_name"].nunique()

In [ ]:
### function to check if image is available or not
def status_checker (url):
    request = requests.get(url)
    return request.status_code

In [ ]:
### Apply the function in my Df US-CA only
ecos_end_species_us_ca["status_code"] = ecos_end_species_us_ca["image_url_full"].apply(status_checker)

In [ ]:
### Super cool function where the sort_value will put on top the images available and then you run a drop_duplicate on scientific name so if the scientific name was already called the nex one will be droped
ecos_end_species_us_ca = ecos_end_species_us_ca.sort_values("status_code").drop_duplicates("scientific_name")

In [ ]:
ecos_end_species_us_ca.shape

In [ ]:
ecos_end_species_us_ca.describe()

In [ ]:
### drop columns status code
ecos_end_species_us_ca = ecos_end_species_us_ca.drop(["status_code"], axis=1)

In [ ]:
ecos_end_species_us_ca.head(2)

### Dataframe US only

In [ ]:
### Apply the function in my Df US only
ecos_end_species_us["status_code"] = ecos_end_species_us["image_url_full"].apply(status_checker)

In [ ]:
### remove images duplicates if any
ecos_end_species_us = ecos_end_species_us.sort_values("status_code").drop_duplicates("scientific_name")

In [ ]:
ecos_end_species_us.shape

In [ ]:
ecos_end_species_us.describe()

In [ ]:
### drop columns status code
ecos_end_species_us = ecos_end_species_us.drop(["status_code"], axis=1)

In [ ]:
ecos_end_species_us.head(2)

### Dataframe all countries

In [ ]:
### Apply the function in my Df US only
ecos_end_species_countries["status_code"] = ecos_end_species_countries["image_url_full"].apply(status_checker)

In [ ]:
### remove images duplicates if any
ecos_end_species_countries = ecos_end_species_countries.sort_values("status_code").drop_duplicates("scientific_name")

In [ ]:
ecos_end_species_countries.shape

In [ ]:
ecos_end_species_countries.describe()

In [ ]:
### drop columns status code
ecos_end_species_countries = ecos_end_species_countries.drop(["status_code"], axis=1)

In [ ]:
ecos_end_species_countries.head(2)

### 9- Save the cleaned dataframes as new csv files:

In [ ]:
### Save all countries and info df as a new CSV file
ecos_end_species_countries.to_csv('../data/ecos_end_species_countries_clean.csv', index = False)

In [ ]:
### Save us-ca and info df as a new CSV file
ecos_end_species_us_ca.to_csv('../data/ecos_end_species_us_ca_clean.csv', index = False)

In [ ]:
### Save us and info df as a new CSV file
ecos_end_species_us.to_csv('../data/ecos_end_species_us_clean.csv', index = False)

In [45]:
### Save states for USA as a new CSV file
ecos_states_us.to_csv('../data/ecos_states_us_clean.csv', index = False)

In [ ]:
### Save countries for treemap as a new CSV file
ecos_end_species_treemap.to_csv('../data/ecos_countries_treemap_clean.csv', index = False)